@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body{
    width: 97vw;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: initial;
    justify-content: center;
    justify-items: center;
    align-content: center;
    text-align: center;
    background-color: #5a5574;
    color: rgb(224, 225, 231);
    font-family: 'Rubik', sans-serif;
    margin: 10px;
}

header, footer{
    width: 100vw;
    height: 5%;
}

#preto_branco{
    align-self: flex-start;
    display: flex;
    filter: invert();
    color: rgb(228, 249, 255);
    margin: 10px;
    width: fit-content;
}

article ul{
    background-color: 454158;
    list-style: none;
    border-radius: 50px;
    border:5px solid rgb(224, 225, 231);
    font-size: 20px;
}

article ul li{
    margin-right: 60px;
}

li{
    margin: 25px;
}

a{
    color: rgb(217, 240, 240);
}

h2{
    font-size: 40px;
}

h3{
    font-size: 20px;
}

aside{
    justify-content: center;
    width: min-content;
    align-items: center;
    text-align: center;
    display: flex;
    margin: 25px;
    padding: 60px;
    flex-wrap: wrap;
    flex: 1 1 200px;

}


#cidades{
    text-align: center;
    align-content: center;
    max-width: 400px;
    flex-direction: column;
    height: 1100px;
    border-radius: 73px;
    background: #454158;
    box-shadow:  22px 22px 44px #343142,
                -22px -22px 44px #56516e;
}

#aprezentacao{
    border-radius: 63px;
    border-radius: 73px;
    background: #454158;
    box-shadow:  22px 22px 44px #343142,
                 -22px -22px 44px #56516e;
}

div ul{
        display: grid;
        place-content: center;
        justify-content: center;
        align-items: center;
    
}

div{
    text-align: left;
    width: fit-content;
    height: fit-content;
    border-radius: 73px;
    background: #454158;
    box-shadow:  22px 22px 44px #343142,
                -22px -22px 44px #56516e;
    margin: 10px;
    display: grid;
    place-content: center;
}

section img{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    border-radius: 73px;
    background: #454158;
    box-shadow:  22px 22px 44px #343142,
                -22px -22px 44px #56516e;
}

.imagens{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
#imagens{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.teste{
    display: grid;
    align-items: center;
    justify-content: center;

}

.flecha_baixo{
    align-content: flex-start;
}